@charset "UTF-8";

header {
	top: 0px;
	width: 100%;
}

#header_logo_div {
	border: 0px solid red;
	border-bottom: 1px solid #cccccc;
}

#header_logo_div #header_logo {
	border: solid 0px red;
	width: 1100px;
	height: 40px;
	overflow: hidden;
	margin: 0px auto;
}

#header_logo_div #header_logo .logo {
	float: left;
}

#header_logo_div #header_logo .login {
	float: right;
	overflow: hidden;
	border: 0px solid red;
	padding-top: 8px;
}

#header_logo_div #header_logo .login .miniuser, 
#header_logo_div #header_logo .login .miniService{

	float: left;
	margin-right: 10px;
}

#header_logo_div #header_logo .login .miniuser {
	
}

#header_logo_div #header_logo .login .miniService {
	border: 0px solid red;
	padding-bottom: 10px;
}

#header_logo_div #header_logo .login .miniuser a {
	display: block;
	width: 50px;
	height: 22px;
	border: 1px solid #E4E4E4;
	color: #666;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
}

#header_logo_div #header_logo .login a {
	margin-right: 20px;
}

#header_search_div {
	border: solid 0px red;
	width: 1100px;
	overflow: hidden;
	margin: 0px auto;
}

#header2{
	border-bottom: 1px solid #cccccc;
}
#header_search {
	padding-top: 28px;
	padding-bottom: 30px;
}

#header_search .header_search_nav {
	border: solid 0px red;
	float: left;
	margin-bottom: 30px;
}

#header_search .header_search_nav a {
	font-size: 25px;
	text-decoration: none;
	color: #333;
}

#header_search .header_search_nav a:first-child {
	font-weight: bold;
	margin-right: 20px;
}

#header_search .search_img {
	border: solid 0px red;
	float: right;
}

#header_search .search_img .search_img_wrap {
	overflow: hidden;
}

#header_search .search_img .search_img_wrap input {
	width: 216px;
	height: 30px;
	float: left;
}

#header_search .search_img .search_img_wrap button {
	background-color: transparent;
	margin-top: 8px;
	border: 0px;
	border: 1px soild #cccccc;
	cursor: pointer
}

#header_nav_div {
	border-bottom: solid 1px #cccccc;
}

#header_nav_div #header_nav {
	border: solid 0px red;
	width: 1100px;
	margin: 0px auto;
	overflow: hidden;
	height: 69px;
}

#header_nav_div #header_nav li {
	list-style: none;
	float: left;
}

#header_nav_div #header_nav a {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}


#header_nav_div #header_nav a:hover{
	color: red;
	text-decoration: underline;
}

#header_nav_div #header_nav div:first-child li:first-child {
	width: 39px;
}

#header_nav_div #header_nav div:first-child li:nth-child(2) {
	width: 158px;
}

#header_nav_div #header_nav div:first-child li:nth-child(3) {
	width: 117px;
}

#header_nav_div #header_nav div:first-child li:nth-child(4) {
	width: 99px;
}

#header_nav_div #header_nav div:first-child li:nth-child(5) {
	width: 76px;
}

#header_nav div:first-child {
	line-height: 40px;
	overflow: hidden;
	display: inline-block;
}
#header_nav div:first-child ul{
	overflow: hidden;
	padding-left: 5px;
	display: inline-block;
}

#header_nav div:last-child {
	float: right;
	display: inline-block;
	line-height: 40px;
}

#header_nav div:last-child li:first-child {
	width: 80px;
}

#header_nav div:last-child li:last-child {
	width: 70px;
}